# Python
*.pyc
*.pyo
*.pyd
__pycache__/
db.dockerfile
docker-compose.yml
Dockerfile
Dockerfile.dev
mydump.sql
*.env
.venv
app_front/management/google_sheets/credentials.json
app_front/management/google_sheets/token.json
app_front/management/google_sheets/credentials.json.bak
app_front/management/google_sheets/token.json.bak
app_front/management/google_sheets/credentials.json.old
app_front/management/google_sheets/token.json.old
app_front/management/google_sheets/credentials.json.old.bak
app_front/management/google_sheets/token.json.old.bak
app_front/management/google_sheets/credentials.json.old.bak.bak
/legacy/legacy_codebase/chrome/
/legacy/legacy_codebase/chrome-win32/
/legacy/legacy_codebase/chromedriver/**
/legacy/legacy_codebase/chromedriver-win32/
/legacy/legacy_codebase/chromedriver-linux64/
/app_front/templates/pages/yandex_50e907a0d24e53ea.html
/parsing/
env/
venv/
.env
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
.pyre/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
celerybeat-schedule
instance/
.webassets-cache
deploy.yml
.idea/
.vscode/
*.swp
*.swo
*.swn
*.log
*.pot
*.py[cod]
*~
\#*\#
*.sqlite3
db.sqlite3
media/
.env
.env.local
.env.production
.env.test
.env.*
Pipfile.lock
poetry.lock
.DS_Store
Thumbs.db
*credentials.json
app_front/template/components/yandex_metrika.html
