{% extends 'components/base.html' %}
{% block title %}Доставка товаров в Россию через Казахстан — решение для покупок за границей{% endblock %}
{% block meta_description %}
Покупайте в европейских и американских интернет-магазинах с доставкой в Россию через Казахстан!
ShipKZ помогает обойти санкционные ограничения и привезти практически любые легальные товары.
Надежно, быстро, выгодно!
{% endblock %}
{% block content %}
{% load static %}
{% block style_css %}
{% endblock %}


<h2>Доставка через форвардеров</h2>
<div class="content-block">
<p>По этой схеме можно купить практически во всех интернет-магазинах. Значительная часть европейских и американских магазинов не шлют в Казахстан. В этом случае мы можем привести товары через местные склады в США, Германии и Англии. Эта схема особенно актуальна в условиях санкций, так как большое количество товаров не могут быть поставлены напрямую в РФ. Так что, если российский форвардер типа Бандерольки, СДЭК Форвард или Лайт МФ не может привезти вам нужные товары, то это можем сделать мы. Мы можем привезти практически все легальные товары, за небольшим исключением, связанным с ограничением безопасности перевозок и законодательными ограничениями.</p>
</div>

<h2>Наши преимущества</h2>
<div class="content-block">
{% include 'components/triple_box_kz.html' %}
</div>

<h2>Схема Логистики (транзит)</h2>
<div class="content-block">
    <img src="{% static 'images/site-image.jpg' %}" alt="Parallax Image" style="max-width: 100%; height: auto; display: block; margin:auto;">
</div>


<div class="content-block">
<h3>Отправка из США</h3>
<p>Отправка посылок из США — по четвергам. Получение — в пятницу или субботу (7 дней) — Алматы, Астана. После получения отправка в РФ. В зависимости от тарифа, доставка занимает от 5 до 10 дней. Стоимость доставки составляет <strong>2000р за 1 кг</strong> с округлением до 100 грамм. Для объемных и легких товаров применяется плата за объемный вес.</p>
</div>

<div class="content-block">
<h3>Отправка из Германии</h3>
<p>Отправка 1 раз в неделю — по пятницам. Мы можем привезти недорого наземным способом негабаритные товары и товары, запрещенные к авиаперевозке. Также доступны экспресс-методы доставки авиатранспортом.</p>
</div>

<h2>Прямая доставка</h2>
<div class="content-block">
<p>По этой схеме можно купить товары во всех магазинах, где есть отправка в Казахстан. На сегодняшний день это самая выгодная схема покупок в Европе, так как вы не платите европейский НДС (19–21%). Эта схема также рекомендована для покупок в США, если ваши товары попадают под санкционные ограничения.</p>
<p>Таможенный лимит для беспошлинного ввоза сейчас составляет <strong>1000 евро</strong>. Казахстан, Россия, Армения, Белоруссия и Кыргызстан входят в таможенный союз ЕАЭС, и здесь действуют единые таможенные правила. Перемещения внутри таможенного союза не облагаются пошлинами.</p>
</div>

<div class="content-block">
<h3>Доставка из Казахстана в РФ</h3>
<p>Из Казахстана в РФ мы отправляем ваши заказы с помощью транспортной компании СДЭК по расценкам интернет-магазинов.</p>
</div>


<h2>Сделать заказ</h2>
<div class="content-block">
{% if user.is_active %}
    {% if user.email_verified %}
        {% include 'components/reg_form.html' %}
    {% else %}
        {% include 'components/unreg_form.html' %}
    {% endif %}
{% else %}
    {% include 'components/unreg_form.html' %}
{% endif %}
</div>


<h2>Список запрещенных к пересылке товаров из США:</h2>
<div class="content-block">
<ul>
  <li>Оружие (огнестрельное, пневматическое, холодное, реплики, образцы), любые его компоненты, любые точные копии и боеприпасы к нему, в любой категории или форме, включая игрушки;</li>
  <li>Легковоспламеняющиеся и взрывоопасные вещества;</li>
  <li>Аэрозоли, имеющие знаки запрета авиаперевозки (баллончики под давлением);</li>
  <li>Продукты с содержанием топлива, бензин;</li>
  <li>Спички, пиротехника;</li>
  <li>Радиоактивные материалы;</li>
  <li>Сигареты, алкогольная продукция, этиловый спирт, пиво;</li>
  <li>Сельскохозяйственная продукция (растения и семена растений);</li>
  <li>Скоропортящиеся продукты питания;</li>
  <li>Наркотики и препараты с наркотическим содержанием;</li>
  <li>Наличные деньги, чеки, облигации и другие ценные бумаги;</li>
  <li>Культурные ценности;</li>
  <li>Драгоценные камни, за исключением ювелирных изделий;</li>
  <li>Иные товары, запрещенные к пересылке в соответствии с актами Всемирного почтового союза и таможенным законодательством Таможенного союза.</li>
</ul>
</div>
<h2>Можно пересылать:</h2>
<div class="content-block">
<ul>
  <li>Духи, парфюмы в любой таре и упаковке;</li>
  <li>Лаки для ногтей;</li>
  <li>Литиевые и другие батарейки;</li>
  <li>Конфеты.</li>
</ul>
</div>
{% include 'components/mini_messanger.html' %}
<script>
    const wsUrl = '{{ wss_url|safe }}';
</script>
<script src="{% static 'js/messanger/support_wss.js' %}">
</script>
{% endblock %}