    <div style="width: 70%;">
        <h3 id="auto">Автозапчасти и мотозапчасти</h3>
        <ul>
            <li><a href="https://www.advanceautoparts.com" target="_blank">Advance Auto Parts</a></li>
            <li><a href="https://www.amazon.com" target="_blank">Amazon</a></li>
            <li><a href="https://www.buywitchdoctors.com" target="_blank">Witchdoctors</a></li>
            <li><a href="https://www.carid.com" target="_blank">CarID</a></li>
            <li><a href="https://www.ebay.com" target="_blank">eBay</a></li>
            <li><a href="https://www.ebay.de" target="_blank">eBay.de</a></li>
            <li><a href="https://www.fc-moto.de" target="_blank">FC-Moto</a></li>
            <li><a href="https://ford.oempartsonline.com" target="_blank">Ford OEM Parts Online</a></li>
            <li><a href="https://www.gmpartsgiant.com" target="_blank">GM Parts Giant</a></li>
            <li><a href="https://www.harley-davidson.com" target="_blank">Harley-Davidson</a></li>
            <li><a href="https://www.indianmotorcycle.com" target="_blank">Indian Motorcycle</a></li>
            <li><a href="https://www.optionsauto.com" target="_blank">Options Auto</a></li>
            <li><a href="https://www.partsgeek.com" target="_blank">Parts Geek</a></li>
            <li><a href="https://www.rockauto.com" target="_blank">RockAuto</a></li>
            <li><a href="https://www.thunderbike.com" target="_blank">Thunderbike</a></li>
        </ul>

        <h3 id="vinyl">Виниловые пластинки</h3>
        <ul>
            <li><a href="https://www.amazon.com" target="_blank">Amazon</a></li>
            <li><a href="https://www.amazon.de" target="_blank">Amazon.de</a></li>
            <li><a href="https://www.backwoodzstudioz.com" target="_blank">Backwoodz Studioz</a></li>
            <li><a href="https://www.cdjapan.co.jp" target="_blank">CDJapan</a></li>
            <li><a href="https://www.chloeslater.tmstor.es" target="_blank">Chloe Slater</a></li>
            <li><a href="https://www.discogs.com" target="_blank">Discogs</a></li>
            <li><a href="https://www.ebay.com" target="_blank">eBay</a></li>
            <li><a href="https://www.hhv.de" target="_blank">HHV</a></li>
            <li><a href="https://www.justforkicks.de" target="_blank">Just for Kicks</a></li>
            <li><a href="https://www.juno.co.uk" target="_blank">Juno Records</a></li>
            <li><a href="https://lacrimosa.hamburgrecords.com" target="_blank">Lacrimosa Records</a></li>
            <li><a href="https://www.lptunes.com" target="_blank">LP Tunes</a></li>
            <li><a href="https://www.napalmrecords.com" target="_blank">Napalm Records</a></li>
            <li><a href="https://www.nuclearblast.com" target="_blank">Nuclear Blast</a></li>
            <li><a href="https://www.outofline.de" target="_blank">Out of Line</a></li>
            <li><a href="https://www.purity-through-fire.com" target="_blank">Purity Through Fire</a></li>
            <li><a href="https://www.roughtrade.com" target="_blank">Rough Trade</a></li>
            <li><a href="https://www.saint-etienne-official.com" target="_blank">Saint Etienne</a></li>
            <li><a href="https://www.season-of-mist.com" target="_blank">Season of Mist</a></li>
            <li><a href="https://www.zedsdead-records.com" target="_blank">Zeds Dead Records</a></li>
        </ul>