{% extends 'components/base.html' %}
{% block title %}Тарифы на покупку и доставку товаров в Россию через Казахстан{% endblock %}
{% block meta_description %}
Доставка товаров в Россию через Казахстан по выгодным тарифам! Рассчитайте стоимость доставки с помощью удобного калькулятора. Доставляем покупки из США, Европы, Англии быстро и безопасно.
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/text_insert.css' %}">

<h2>Тарифы из США</h2>
<div class="content-block">
    <ul>
        <li><strong>Тариф за физический вес:</strong> Стоимость доставки 2000р за кг, округление до 100 грамм. Срок доставки 7-8 дней.</li>
        <li><strong>Тариф за объемный вес:</strong> Для объемных и легких товаров применяется плата за объемный вес (кг) = длина (см) × ширина (см) × высота (см) / 5000.</li>
        <li>Мы максимально облегчаем посылки, удаляя лишнюю упаковку и заменяя ее на полиэтиленовые пакеты. Например, для вашей экономии, обувные коробки по умолчанию удаляются, а обувь упаковывается в пакеты. Если это сапоги на каблуке, для жесткости добавляется картон, что гарантирует сохранность. Если же вам нужно сохранить упаковку, пожалуйста, укажите это в комментариях к заказу.</li>
        <li>Отправка посылок из США по четвергам, получение пятница-суббота (7-8 дней) в Алматы или Астане.</li>
    </ul>
</div>

<h2>Тарифы из Германии (ЕС)</h2>
<div class="content-block">
    <ul>
        <li><strong>Тариф за физический вес:</strong> Стоимость доставки 2000 руб за кг, округление до 100 грамм. Срок доставки 14 дней.</li>
        <li><strong>Тариф за объемный вес:</strong> Для объемных и легких товаров применяется плата за объемный вес (кг) = длина (см) × ширина (см) × высота (см) / 5000.</li>
    </ul>
</div>
    <h2>Тарифы из Англии</h2>
<div class="content-block">
    <ul>
        <li><strong>Тариф за физический вес:</strong> Стоимость доставки 2000 руб за кг, округление до 100 грамм. Срок доставки 14 дней.</li>
        <li><strong>Тариф за объемный вес:</strong> Для объемных и легких товаров применяется плата за объемный вес (кг) = длина (см) × ширина (см) × высота (см) / 5000.</li>
    </ul>
</div>
<div class="content-block">
    <h3>Тарифы из Казахстана в РФ</h3>
    <ul>
        <li>Доставка в РФ по расценкам сдек для интернет-магазинов. Сроки 5-10 дней, в зависимости от тарифа.</li>
    </ul>
</div>
<div class="content-block">
    <h3>Как посчитать полную стоимость заказа в рублях?</h3>
    <p>Мы даем вам сразу полную стоимость заказа и не маскируем ее. У стандартных форвардеров комиссия обычно спрятана в “спецкурсе” и нескольких комиссиях (комиссия за пополнение счета 4-5%, комиссия за выкуп 10-15%). Если вы аккуратно посчитаете, то мы даем конкурентную цену и наша итоговая цена немного ниже чем у стандартных российских форвардеров. Стоимость доставки особенно для мелких заказов, значительно ниже чем у стандартных форвардеров. У нас нет минимальной стоимости доставки и за доставку в казахстан посылки весом 100 грамм вы заплатите 200 руб. в зависимости от форвардера.</p>
    <p>Ниже находится калькулятор для расчета итоговой стоимости заказа, при доставке через форвардеров. Обязательно нужно знать примерный вес и габариты посылки, особенно если посылка крупная или тяжелая. Иначе вы не сможете правильно оценить стоимость доставки, а она платится не в момент заказа, а при получении на складе и после взвешивания.</p>
</div>
<div class="content-block">
    <h3>Как посчитать стоимость заказа в USDT (TRC20)?</h3>
    <p>Самый выгодный способ заказа это оплата криптовалютой USDT (TRC20), комиссия сервиса в случае оплаты криптовалютой 15%. При оформлении заказа (заявки) в комментариях укажите, что вы будете оплачивать USDT.</p>
</div>
<div class="content-block">
    <h3>Можно ли оплачивать собственной иностранной картой?</h3>
    <p>К сожалению, такой возможности мы предоставить не можем, это связано с требованием казахстанской таможни предоставлять банковскую выписку получателя посылки. Рекомендуем вам воспользоваться способом оплаты криптовалютой, тут минимальная комиссия.</p>
</div>
<div class="content-block">
    {% include 'components/calculator.html' %}
</div>
<div class="content-block">
    {% include 'components/calculator_tradeinn.html' %}
</div>
{% include 'components/mini_messanger.html' %}
<script>
    const wsUrl = '{{ wss_url|safe }}';
</script>
<script src="{% static 'js/messanger/support_wss.js' %}">
</script>
{% endblock %}