{% extends 'components/base.html' %}
{% block meta_description %}Покупка на испанском маркетплейсе Tradeinn. Выкуп товара с прямой доставкой в Россию{% endblock %}
{% block title %}Покупка на Tradeinn, испанском маркетплейсе с прямой доставкой в Россию.{% endblock %}
{% block content %}
{% load static %}
{% block style_css %}
<link rel="stylesheet" href="{% static 'css/text_insert.css' %}">
<link rel="stylesheet" href="{% static 'css/tradeinn.css' %}">
{% endblock %}

<h2>Tradeinn. Выкуп товара с прямой доставкой в Россию</h2>
<div class="content-block">
  <p>Испанский маркетплейс Tradeinn – один из немногих интернет-магазинов, который шлет напрямую в Россию. Цены в магазине указаны в рублях. Основные магазины в зависимости от вида активности и товаров:</p>
  <ul>
    <li><strong>diveinn</strong> – дайвинг, гидрокостюмы, ласты, маски, трубки</li>
    <li><strong>waveinn</strong> – рыбалка, яхтинг и катера</li>
    <li><strong>swiminn</strong> – плавание</li>
    <li><strong>snowinn</strong> – лыжи, доски</li>
    <li><strong>trekkinn</strong> – хайкинг, треккинг, походы, скалолазание</li>
    <li><strong>runnerinn</strong> – бег, триатлон</li>
    <li><strong>bikeinn</strong> – шоссе, MTB, гравел, триатлон</li>
    <li><strong>traininn</strong> – фитнес</li>
    <li><strong>smashinn</strong> – теннис, сквош, бадминтон</li>
    <li><strong>goalinn</strong> – футбол</li>
    <li><strong>xtremeinn</strong> – SUP, виндсёрф, скейтборд, кайт, каяк, ролики</li>
    <li><strong>motardinn</strong> – мотоспорт</li>
    <li><strong>dressinn</strong> – одежда</li>
    <li><strong>kidinn</strong> – детская одежда, коляски, игрушки</li>
    <li><strong>sports</strong> – гандбол, баскетбол, бейсбол, охота, американский футбол, гольф, верховая езда, хоккей, регби, волейбол</li>
    <li><strong>techinn</strong> – электроника: ноутбуки, телефоны, бытовая техника</li>
    <li><strong>bricoinn</strong> – товары для дома, электро- и ручные инструменты</li>
  </ul>
</div>
<div class="content-block">
  <h3>Комиссия:</h3>
  <ul>
    <li>10% – сумма заказов до 100 тыс. руб</li>
    <li>8% – сумма заказов 100-200 тыс. руб</li>
    <li>7% – сумма заказов более 200 тыс. руб</li>
  </ul>
<p>Минимальная комиссия: 500 руб.</p>
</div>

<div class="content-block">
  <h3>Что нужно знать при совершении покупок на этом сайте</h3>
  <p>Для заказов на этом сайте вы должны зарегистрироваться и заполнить ваш адрес. Оплата происходит на вашем аккаунте, и посылка доставляется напрямую в РФ по вашему адресу. По опыту, санкционные ограничения слабые, что связано с логистикой и прохождением таможни в Нидерландах.</p>
</div>


<div class="content-block">
  <h3>Как происходит оплата?</h3>

  <p>Наполняете корзину нужными товарами, затем пишете нам и даете доступ к вашему аккаунту (логин и пароль). Менеджер проверяет заказ, сообщает сумму к оплате. После этого вы перечисляете деньги на карту, и менеджер оплачивает заказ. Обычно оплата происходит сразу. Сроки доставки: 4-5 недель. Отслеживание: <a href="https://mailingtechnology.com/tracking/">здесь</a>.</p>
</div>
<div class="content-block">
  <h3>Возврат</h3>

  <p>Если товара нет в наличии, и магазин возвращает деньги, мы также возвращаем вам сумму без каких-либо потерь. Возврат суммы происходит в пределах недели с даты отправки заказа. Комиссия возврату не подлежит, но можно заменить отсутствующие товары на другие, чтобы избежать потерь.</p>
</div>
<div class="content-block">
  <h3>Как оформить заказ?</h3>

  <p>Для оформления заказа на <a href="https://tradeinn.com">tradeinn.com</a>, необходимо самостоятельно
    зарегистрироваться на сайте. Заказы оформляются исключительно через <a href="https://t.me/ShipKZ_bot"><strong class="mark-main-color">Telegram</strong></a></p>
</div>



{% include 'components/mini_messanger.html' %}
<script>
    const wsUrl = '{{ wss_url|safe }}';
</script>
<script src="{% static 'js/messanger/support_wss.js' %}">
</script>
{% endblock %}
