html {
    font-size: 18px;
}
header {
    grid-row: 1 / 2;
    background-color: var(--main-color);
    width: 100%;
    overflow: hidden; /* Чтобы избежать прокрутки хедера */
}

.image-container {
    height: 425px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: white;
}


.image-background  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%) scale(0.75); /* Центрирует картинку в контейнере */
    transition: transform 0.2s; /* Плавный переход для эффекта */
}

.short-menu,
.long-menu {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}


@media (min-width: 600px) {
    .image-container {
        display: flex;
    }
}

@media (max-width: 599px) {
    .image-container {
        display: none;
    }
}

nav {

    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1300px) {
    nav {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.short-menu{
    justify-content: space-between;
    flex-grow: 1;
}

@media (max-width: 431px) {
    .long-menu {
        display: none;
        flex-direction: column;
        margin-left:10px;

    }
    .lm-marker {
        display: none !important;
    }

    .short-menu {
        display: flex;
        flex-direction: row;
    }

}

@media (min-width: 432px) {
    .long-menu {
        display: flex;
        flex-direction: row;
    }
    .lm-marker {
        display: flex;
    }
    .short-menu {
        display: none;
    }
}

.short-menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.menu-item a {
    padding: 10px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
    white-space: nowrap;
    align-items: center; /* Vertically centers the text */
    justify-content: center;
}

.enter-item a {
    background-color: #fec502;
    color : #262525;

}
.enter-item a:hover {
    background-color: var(--dark-theme);
    color: white;
}


.menu-item {
    transition: background-color 0.4s ease; /* Adds a 0.5 second transition effect */
}
.menu-item:hover {
    background-color: var(--dark-theme);
}

.logo-menu-item {
    margin-left: auto;
}


main {
    grid-row: 2 / 3;
    padding: 8px;
    width: 100%;
    min-height : 90vh;

    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}

footer {
    grid-row: 3 / 4;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.mark-main-color{
    color: var(--main-color);
}

.content-block{
    margin-top:20px;
    margin-bottom:20px;
}

.logo-tele-icon {

    width: 22px;
    height: 22px;
    padding: 0;
    margin-right: 8px;

}
.logo-tele-icon a {
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: row;
}


