{% extends 'components/base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/text_insert.css' %}">
<style>
    .messages {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .messages li {
        padding: 15px;
        margin-bottom: 15px;
        border: 2px solid;
        border-radius: 5px;
    }

    .error {
        color: rgba(255, 0, 0, 0.55);
        background-color: #fdd;
    }

    .success {
        color: #0daaaf;
        background-color: #dfd;
    }
</style>

<h2>У вас есть новые уведомления:</h2>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}