{% extends 'components/base.html' %}
{% block title %}Восстановить пароль{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<h2>Укажите почту для восстановления пароля</h2>
<div class="container">
    <form method="post" class="order-form max_length">
        {% csrf_token %}
        <div class="row-container">
            <div class="input-container">
                <label for="{{ form.email.id_for_label }}" class="input_explain">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
        </div>

        <button type="submit" class="submit-button">Восстановить</button>
    </form>
</div>
{% endblock %}
