{% extends 'components/lk-base.html' %}
{% block lk_content %}
{% load static %}
    <h2>Личный кабинет</h2>
    <p>
Добро пожаловать в личный кабинет. Здесь вы можете оформить заявку на выкуп товара. После оформления заявки вы получите счет на оплату в "Сообщения". После оплаты ваша заявка переместится в "Заказы".

После поступления заказа на склад  вам придет счет на оплату доставки в Казахстан. В разделе "Заказы" вы можете отслеживать текущее состояние Вашего заказа.

Обязательно заполните в вашем профиле фамилию и имя получателя посылки на русском языке, адрес пункта Сдек и телефон получателя.
<br>
Ждем ваши заказы!
    </p>


<script src="{% static 'js/messanger/support_wss.js' %}">
</script>
{% endblock %}