{% extends 'components/lk-base.html' %}
{% block lk_content %}
{% load static %}
<style>
    .progress-item {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 30px;
        height: 30px;
        margin-right: 5px;
         flex-shrink: 0;
    }
    .progress-full {
        border-radius: 5px;
        background-color: var(--main-color);
    }
    .progress-empty{
        border-radius: 5px;
        background-color: transparent;
        border: 3px solid var(--main-color);
        opacity: 0.5;
    }


.order-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;

}

.order-number-container {
    border-radius: 5px;
    margin-right: 10px;
    background-color: transparent;
    border: var(--main-color) 3px solid;
    min-height: 50px;
    display: inline-flex; /* inline-flex позволяет контейнеру расширяться только по содержимому */
    padding: 0 10px; /* Добавляем отступы, чтобы текст не прилипал к границе */
    white-space: nowrap; /* Отключаем перенос текста */
    max-width: fit-content; /* Устанавливаем ширину по содержимому */
}

.order-info-window{
    flex: 1 1;
    min-width: 250px;
    min-height: 60px;
    background-color: transparent;
    margin-left: 10px;
}
.order-info-window div {
    padding : 3px;
}
.order-day-left {
    border-radius: 5px;
    background-color: transparent;
    border: var(--main-color) 3px solid;
    flex: 1 1;
    max-width: 60px;
    margin-left: 5px;
}
.order-status-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    margin-left:10px;
}

.order-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 3px;
    border: 2px solid #e0e0e0;
    flex-wrap: wrap;

}
.order-item{
    margin: 10px;
    padding: 5px;
}


</style>
  <h2>Заказ {{order.id}} </h2>
<div class="order-container">
    <div class="order-info-window">
        <div><span class="strong-text-content">Магазин:</span> {{order.order_status_info.shop}}</div>
        <div><span class="strong-text-content">Трек:</span> {{order.order_status_info.trek}}</div>
        <div><span class="strong-text-content">Почтовая служба:</span> {{order.order_status_info.post_service}}</div>
        <div><span class="strong-text-content">СДЕК:</span> {{order.order_status_info.cdek}}</div>
    </div>
    <br>
    <br>
{% for step in order.order_status_info.progress_bar%}
<div class="order-status-row">
{% if step.point_data %}
        <div class="progress-item progress-full" title="{{step.point_text}}">
        </div>
{%else%}
        <div class="progress-item progress-empty" title="{{step.point_text}}">
        </div>
{%endif%}
{%if step.point_data %} {{step.point_data}} {%endif%} {{step.point_text}}</div>
{% endfor %}
    <br>
    <div class="order-info-window">
        <span class="strong-text-content">Дней в пути:</span> {{order.days_in_way}}
    </div>

</div>
<h2>Товары</h2>
<div class="order-status-table">
    {% for item in data_details.items %}
    <div class="order-row">
        <div class="order-item">
            <strong class="low-text-content">Ссылка:</strong>
            <a style="color:#3498db" href="{{ item.item_link }}" target="_blank">{{ item.item_link|truncatechars:30 }} </a>
        </div>
        <div class="order-item">
            <strong class="low-text-content">Количество:</strong>
            {{ item.item_count }}
        </div>
        <div class="order-item">
            <strong class="low-text-content">Комментарий:</strong>
            <span class="comment-truncated">
                {% if item.item_comment %}
                {{ item.item_comment }}
                {% else %}
                Нет комментария
                {% endif %}
            </span>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'js/messanger/support_wss.js' %}">
</script>
{% endblock %}

