{% extends 'components/lk-base.html' %}
{% block lk_content %}
{% load static %}
    <h2>Ваши заказы</h2>
<style>
    .progress-item {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    .progress-full {
        border-radius: 5px;

        background-color: var(--main-color);
    }
    .progress-empty{
        border-radius: 5px;

        background-color: transparent;
        border: 3px solid var(--main-color);
        opacity: 0.5;
    }
.order-number-container {
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    font-size: 24px;
    background-color: transparent;
    border: var(--main-color) 3px solid;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.order-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}
.order-info-window{
    flex: 1 1;
    min-width: 250px;
    min-height: 60px;
    border-radius: 5px;
    background-color: transparent;
    border: var(--main-color) 3px solid;
    margin-left: 10px;
    flex-direction: column;
    padding: 5px;
}
.order-info-window span{
    display: flex;
}
.order-day-left {
    border-radius: 5px;
    background-color: transparent;
    border: var(--main-color) 3px solid;
    flex: 1 1;
    max-width: 60px;
    margin-left: 5px;
    font-size: 24px;
}

.order-container:hover{
    background-color: var(--dark-theme);
    color: white;
}


</style>

{% for order in data %}
<a href="{% url 'lk-order' order.id %}">
<div class="order-container">
<div class="order-number-container">
    {{order.id}}
</div>

{% for step in order.order_status_info.progress_bar%}
    {% if step.point_data %}
    <div class="progress-item progress-full" title="{{step.point_data}} {{step.point_text}}">
    </div>
{%else%}
    <div class="progress-item progress-empty" title="{{step.point_text}}">
    </div>
{%endif%}
{%endfor%}
    <div class="order-info-window">
        <span>Откуда: {{order.order_status_info.shop|slice:":20"}} от {{order.start_time}}</span>
        <span>Статус: {{order.order_status_info.status_text}}</span>
    </div>

</div>
</a>
{% endfor %}

<script src="{% static 'js/messanger/support_wss.js' %}">
</script>
{% endblock %}

