* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


:root {
    --main-color: #00afca;
    --dark-theme: #2c4054;
    --background-color: #1c2833;
    --text-color: #f0f0f0;
    --input-background: #354a5f;
    --input-border: #5c6b78;
    --main-max-width: 1300px; /* ваша максимальная ширина */
    --header-margin: calc((100% - var(--main-max-width)) / 2); /* расчет отступа */
    --yellow-theme: #FEC502;
}


fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input, textarea, select, button {
    border: none;
    outline: none;
}

body, h1, h2, h3, h4, h5, h6, p, div, header, footer, main, section, article {
    display: block;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}
