.order-form {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
        padding: 20px;
        border-radius: 10px;

    }

.form-country {
        display: flex;
        gap: 10px;
    }

.radio-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

.radio-img input[type="radio"] {
        display: none;
    }

.radio-img img {
        width: 60px;
        height: 60px;
        border: 3px solid transparent;
        border-radius: 50%;
    }

.radio-img img:hover {
        border-color: var(--main-color);
    }

.radio-img input[type="radio"]:checked + img {
        border-color: var(--main-color);
    }

.input-container input {
        padding: 5px;
    }

.row-container {
            display: flex;
            gap: 10px;
            width: 100%;
            flex-wrap: wrap;
    }


.input-container {
            flex: 1 1 300px;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;
        }

.input-container input,
.input-container textarea {
            padding: 10px;
            background-color: #dedfe0;
            color: gray;
            border: 2px solid gray;
            border-radius: 5px;
            min-width: 200px;
        }
.input-container textarea {
    min-width: 0; /* Remove minimum width constraint */
    resize: none; /* Disable auto-resizing */
    overflow: auto;
}

.input-container input:focus,
.input-container textarea:focus {
            background-color: gray;
            color: white;
            border: 2px solid var(--main-color);
        }


.input-container input:hover,
.input-container textarea:hover {
        background-color: gray;
        color: white;
        border: 2px solid var(--main-color);
        }

.input_explain {
            font-size: 0.875rem;
            text-align: left;
            margin-bottom: 6px;
        }

.submit-button {
        padding: 10px;
        margin-top: 20px;
        max-width: 200px;
        background-color: var(--main-color);
        border: 2px solid transparent;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 1.2rem;
        transition: 0.3s;
    }

.control-form-button {
        padding: 5px;
        margin: 5px;
        max-width: 100px;
        background-color: var(--main-color);
        border: 2px solid transparent;
        border-radius: 20px;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        height : 40px;

    }

.control-form-button:hover {
        background-color: var(--dark-theme);
        border: 2px solid var(--dark-theme);
        scale: 1.1;
    }
.submit-button:hover {
        background-color: var(--dark-theme);
        border: 2px solid var(--dark-theme);
        scale: 1.1;
    }


.button-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line */
    gap: 10px; /* Optional: Adds space between buttons */
}

.plus {
    flex-grow: 1;
    max-width: 350px;

}

.max_length {
    max-width: 300px;
    margin: 0 auto;
}
.row-container.good-input input{
    color: green; /* Цвет текста */
    border: 2px solid green; /* Зеленая рамка */
    background-color: #e0f7e0; /* Светло-зеленый фон */
}

.row-container.bad-input input {
    color: red; /* Цвет текста */
    border: 2px solid red; /* Красная рамка */
    background-color: #f8d7da; /* Светло-красный фон */
}
.error-list {
    color: red;
    font-size: 0.875rem;
    text-align: left;
    margin-bottom: 6px;
}
.register-link{
    display: flex;
    flex-direction: column;
}
.register-link div{
    margin-top: 5px;
}

.captcha {
    width: 150px;
    height: 50px;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}