    .documentButton {
          background-color: #ccc;
          color: white;
          padding: 10px 10px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          text-align: center; /* Выравниваем текст по центру */
        }

        .simaFor {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            margin: 5px;
            border: 1px solid black;
        }

        .simaGreen {
            background-color: lightgreen;
        }

        .simaRed {
            background-color: red;
        }
        .documentButton:hover {
          background-color: #fec502;
        }
        .returnContainer{
            display: flex;
            justify-content: space-between;
            background: #fec502;
            height: 50px;
            padding: 10px;
            border-top-left-radius: 10px; /* скругление верхнего левого угла */
            border-top-right-radius: 10px;
        }
        .closeCustomButton {
            height: 30px;
            width: 30px;
            display: flex;
            cursor: pointer;
        }
        .returnText {
            align-self: flex-start;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

        .messageWindowFrame {
            margin-top: 15px;
            min-width: 350px;
            max-width: 600px;
            min-height: 400px;
            max-height: 550px;
            background: white;
            border-radius: 10px; /* Поменял порядок свойств */
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
        }

        .messageWindow {
            overflow: auto;
            flex: 1;
            min-height: 50%;
            border-radius: 10px;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: darkgray lightgray;

            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: darkgray;
                border-radius: 2px;
            }
            &::-webkit-scrollbar-track {
                background-color: lightgray;
            }
        }

        .inputContainer {
            flex-basis: 5%;
            max-height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            border-top: 1px solid grey;
            border-bottom-left-radius: 10px; /* Скругление левого нижнего угла */
            border-bottom-right-radius: 10px; /* Скругление правого нижнего угла */
        }

        .myTextArea {
            width: 100%;
            border-radius: 10px ;
            flex-grow: 1;
            max-height: 250px ;
            border: none ;
            font-size: large ;
            padding: 10px;
            resize: none;
            overflow-y: scroll;
            scrollbar-width: none;
            user-select: none ;
            -moz-user-select: none ;
            -ms-user-select: none ;
            -webkit-user-select: none ;
        }
        .myTextArea::-webkit-scrollbar {
            display: none ;
        }
        .myTextArea {
            scrollbar-width: none ;
        }

        .myTextArea:focus {
            outline: none ;

        }
        .buttonsContainer{
            display: flex;
            margin: 10px;
        }
        .buttonAddFileContainer{
            width: 30px;
            height: 30px;
            display: flex;
            align-self: flex-end;
            justify-content: center;
            align-items: center;
            background: #00afca;
            padding: 0;
            margin-left: 5px;
            margin-right: 5px ;
            cursor: pointer;
            border: none;
            border-radius: 10px ;
        }
        .buttonAddFileContainerInactive{
            width: 30px;
            height: 30px;
            display: flex;
            align-self: flex-end;
            justify-content: center;
            align-items: center;
            background: transparent;
            padding: 0;
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
            border: none;
            border-radius: 10px;

        }

        .buttonSendContainerInactive{
            width: 30px;
            height: 30px;
            display: flex;
            align-self: flex-end;
            justify-content: center;
            align-items: center;
            background: transparent;
            padding: 0;
            margin-left: 5px;
            margin-right: 5px;
            border: none;
        }
        .buttonSendContainerActive{
            height: 30px;
            width: 30px;
            display: flex;
            background: #00afca;
            align-self: flex-end;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
            border: none;
            border-radius: 10px;
        }
        .oneMessageContainer{
            display: flex;
            flex-direction: row;
            margin-right: 10px;
            margin-left: 10px;
        }
        .oneMessageLaminar{
            margin-bottom: 2px;
        }
        .oneMessageGap {
            margin-top: 13px;
            margin-bottom: 2px;
        }
        .oneMessageText{
            min-width: 20%;
            max-width: 80%;
            background: #00afca;
            padding: 10px;
            border-radius: 10px;
            font-size: large;
            color: white;
        }
        .managerMessageText{
            display: flex;
            min-width: 20%;
            background: transparent;
        }
        .timeElement {
            font-size: x-small; /* Пример размера шрифта */
            text-align: right;
        }
        .managerName {
            font-size: x-small;
        }
        .spacer{
            flex: 1;
        }
        .oneMessageText img{
            display: flex;
        max-height: 400px;
        max-width: 400px;
        }