.documentButton {
            background-color: #ccc;
            color: white;
            padding: 10px 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        /* Изменение цвета при наведении мыши */
.documentButton:hover {
    background-color: #00afca; /* Серый цвет при наведении */
}
.simaFor {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid black;
}
.simaGreen {
    background-color: lightgreen;
}
.simaRed {
    background-color: red;
}
.miniMessagerContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.miniMessanger {
    width: 70px;
    height: 70px;
    background-color: #00afca;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s; /* Добавление плавности анимации */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.miniMessanger:hover {
    transform: scale(1.2); /* Увеличение размера */
    background-color: black;
}
.chatMainContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.messageWindowFrame {
    margin-top: 15px;
    margin-left:10px;
    max-width: 350px;
    min-height: 400px;
    max-height: 550px;
    background: white;
    border-radius: 10px;/* Поменял порядок свойств */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.returnContainer{
    display: flex;
    justify-content: space-between;
    background: #fec502;


    padding: 10px;
    border-top-left-radius: 10px; /* скругление верхнего левого угла */
    border-top-right-radius: 10px;
}
.closeCustomButton {
    height: 30px;
    width: 30px;
    display: flex;
    cursor: pointer;
}
.returnText {
    display: flex;
    align-self: flex-start;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.messageWindow {
    overflow: auto;
    flex: 1;
    min-height: 50%;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgray;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
        background-color: lightgray;
    }
}
.inputContainer {
    flex-basis: 5%;
    max-height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid grey;
    border-bottom-left-radius: 10px; /* Скругление левого нижнего угла */
    border-bottom-right-radius: 10px; /* Скругление правого нижнего угла */
}
.myTextArea {
    width: 100%;
    border-radius: 10px !important;
    flex-grow: 1;
    max-height: 250px !important;
    border: none !important;
    font-size: large !important;
    padding: 10px;
    resize: none;
    overflow-y: scroll;
    scrollbar-width: none; /* Для Firefox */
    user-select: none !important;
    -moz-user-select: none !important; /* Для Firefox */
    -ms-user-select: none !important; /* Для Internet Explorer/Edge */
    -webkit-user-select: none !important; /* Для старых версий WebKit-браузеров (Chrome, Safari) */
}
.myTextArea::-webkit-scrollbar {
    display: none !important;
}
.myTextArea {
    scrollbar-width: none !important;
}

.myTextArea:focus {
    outline: none !important;
}
.buttonsContainer{
    display: flex;
    margin: 10px;
}
.buttonAddFileContainer{
    width: 30px;
    height: 30px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    background: #00afca;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px !important;
    cursor: pointer;
    border: none;
    border-radius: 10px !important;
}

.buttonAddFileContainerInactive{
    width: 30px;
    height: 30px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px !important;
    cursor: pointer;
    border: none;
    border-radius: 10px !important;

}

.buttonSendContainerInactive{
    width: 30px;
    height: 30px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
}
.buttonSendContainerActive{
    height: 30px;
    width: 30px;
    display: flex;
    background: #00afca;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px !important;
}
.oneMessageContainer{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
}
.oneMessageLaminar{
    margin-bottom: 2px;
}
.oneMessageGap {
    margin-top: 13px;
    margin-bottom: 2px;
}
.oneMessageText{
    min-width: 20%;
    max-width: 80%;
    background: #00afca;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    color: white;
}
.managerMessageText{
    min-width: 20%;
    background: transparent;
}
.timeElement {
    font-size: x-small; /* Пример размера шрифта */
    text-align: right;
}
.managerName {
    font-size: x-small;
}
.spacer{
    flex: 1;
}

.createSignal {
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    0% {
        background-color: #17bbd1;
    }
    100% {
        background-color: #eabb23;
    }}


