.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.triple-box-container {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    min-width: 80%;
}

.one-box-container {
    flex: 1 1 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
}

.one-box-container h3 {
    display: block;
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
}

.one-box-container p {
    padding: 10px;
    text-align: justify;
}

.h3-wrapper {
    display: flex;
    width : 100%;
    align-items: center;
}

.icon-container {
    margin: 10px;
    margin-top:20px;
    width: 40px;
    height: 40px;
    align-self: center;
}
.triple-title{
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    font-size: 21px;
    color:#444444;
}